name: Update Pact JS docs


on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.6'
    - run: gem install bundler -v 2.0.2
    - run: bundle install
    - run: ruby scripts/sync/pact_js.rb
